<div class="row">
  <div class="small-8 large-8 small-centered large-centered columns">
    <!-- <div class="row"> -->
    <div class="small-2 large-2 columns">&nbsp</div>
    <div class="small-2 large-2 columns">
      <div class="add-button-container">
        <a href="/playlist/<%= @playlist_id %>/add_song" id="add-playlist" value="plus-sign">
        <i class="add-button foundicon-plus"></i>
        </a>
      </div>
    </div>
    <div class="small-7 large-7 columns song-list-title">
      <h3 class="playlist-name"><%= @playlist.name%></h3>
    </div>
    <!-- </div> -->
  </div>
</div>

<div class="row">
  <div class="small-7 large-7 small-centered large-centered columns playlist-row">&nbsp</div>
</div>
<div class="row">
  <div class="small-8 large-8 small-centered large-centered columns">
    <% if @songs.nil? %>
    <% else %>
    <% @songs.each do |song| %>
      <div class="small-12 large-12 columns">
        <div class="small-4 large-4 columns">
          <!-- <div class="video-container"> -->
            <iframe width="200" height="200" src="//www.youtube.com/embed/<%= get_embed_code(song.url) %>" frameborder="0" allowfullscreen></iframe>
          <!-- </div> -->
        </div>
        <div class="small-7 large-7 columns song-info">
          <a href="<%= song.url %>" target="_blank">
            <div class="song-name">
              <%= song.name %>
            </div>
            <div class="artist-name">
              <%= song.artist %>
            </div>
          </a>
          <div class="modify-song">
            <!-- <div class="small-2 large-2 columns update-buttons"> -->
            <a href="/playlist/<%= song.playlist_id %>/edit_song/<%=song.id %>"><i class="edit-button foundicon-edit"></i></a> <a href="/playlist/<%= song.playlist_id %>/delete_song/<%= song.id %>"><i class="delete-button foundicon-minus"></i></a>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>
</div>
